.account{
    width: 70vw;
    height: 80vh;
    /* border: 1px solid red; */
    margin-left: 5%;
}

.account__header{
    font-size: 1.7vw;
    margin-left: 2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.account__form{
    width: 60%;
    height: 55%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3% 0 0 5%;
}

.account__name, .account__email, .account__password{
    width: 80%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.account__name-label, .account__email-label, .account__password-label{
    font-size: 24px;
    font-family: 'Jost', sans-serif;
}

.account__name-inp, .account__email-inp, .account__password-inp{
    margin-left: 5%;
    line-height: 32px;
    border: 2px solid blueviolet;
    border-radius: 14px;
    padding: 2px 0 2px 5px;
    font-size: 1.2vw;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 1px;
}
