@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;600&family=M+PLUS+Rounded+1c:wght@500&family=PT+Sans+Caption&family=Poppins:wght@600&family=Quicksand:wght@500&family=Roboto+Mono:wght@500;600&family=Roboto+Slab:wght@500&family=Roboto:ital@1&family=Rubik:wght@500&display=swap');

.meetings__container{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.meetings__header{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.meeting__card{
    height: 20vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(150, 0, 183);
    border-radius: 30px;
    margin: 4vh 0 4vh 0;
    padding: 20px;
    /* border: 1px solid red; */
}

.meeting__body{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-family: 'Rubik', sans-serif;
    padding: 20px;
}

.meeting__title{
    margin-right: 25px;
    font-size: 22px;
}

.meeting__theme{
    display: flex;
    font-size: 18px;
}

.meeting__lector{
    display: flex;
    font-size: 18px;
}

.meeting__date{
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

.meeting__text{
    color: rgb(144, 144, 144);
    margin-right: 15px;
}

.meeting__sign{
    width: 15%;
    height: 40px;
    /* border: 1px solid red; */
}

.meeting__sign-btn{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 57, 170);
    color: white;
    cursor: default;
    border-radius: 10px;
    font-family: 'Roboto Mono', sans-serif;
}

.meeting__unsubscribe-btn{
    width: 100%;
    height: 40px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    background-color: rgb(255, 77, 33);
    border-radius: 10px;
    color: white;
    font-family: 'Roboto Mono', sans-serif;
}

.meetings__message{
    font-family: 'Open Sans', sans-serif;
    margin: 5% 0 0 3%;
    font-size: 26px;
}

.meeting__update{
    width: 10vw;
    height: 5vh;
    background-color: rgb(150, 0, 183);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all .3s;
}

.meeting__update:hover{
    background-color: rgb(104, 0, 189);
}

.meeting__form-delete{
    width: 9vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meeting__delete-btn{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    color: white;
    background-color: rgb(183, 0, 0);
    border: 2px solid rgb(183, 0, 0);
    font-family: 'Open Sans';
    font-size: 16px;
    transition: all .3s;
}

.meeting__delete-btn:hover{
    background-color: white;
    color: rgb(183, 0, 0);
}
