.lectors{
    width: 100%;
    height: fit-content;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.lectors__header{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 600;
}
.lectors__container{
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lector__card{
    margin: 2% 0 0 2%;
    width: 80%;
    height: 25vh;
    border: 3px solid rgba(104, 4, 255, 0.573);
    border-radius: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lector__body{
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
}
.lector__content{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lector__name{
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
}

.lector__theme, .lector__email, .lector__meetings{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.lector__text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(104, 4, 255, 0.573);
    margin-right: 1%;
    font-weight: 600;
}

.lector__delete{
    margin-right: 3vw;
    width: 10%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lector__delete-btn{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid rgb(184, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    background-color: rgb(184, 0, 0);
    justify-content: center;
    align-items: center;
    color: white;
    transition: all .3s;
}

.lector__delete-btn:hover{
    background-color: white;
    color: rgb(184, 0, 0);
}


