.forgot-password__content{
    width: 65vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.forgot-password__header{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.forgot-password__form{
    width: fit-content;
    height: fit-content;
    padding: 0 7vw 7vw 7vw;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
}

.forgot-password__email-label{
    width: fit-content;
    height: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.forgot-password__email-input{
    margin-top: 2vh;
    border: 2px solid rgb(173, 0, 216);
    border-radius: 25px;
    width: 25vw;
    height: 4vh;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.forgot-password__btn{
    margin: 5vh 0 0 3vw;
    width: fit-content;
    height: fit-content;
    padding: 2vh 1vw 2vh 1vw;
    border-radius: 15px;
    background-color: rgb(11, 11, 213);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    transition: all .3s;
}

.forgot-password__btn:hover{
    background-color: rgb(33, 33, 232);
}



